
# Dependency directories
node_modules/

# Build output
project/bin

# folder files
data_folder/

# Image files
*.jpg
*.jpeg
*.png

# Video files
*.mp4

# Archives
*.tar.xz
*.tar.gz
*.zip

# Duktape folder
duktape-2.5.0/

# MacOS
.DS_Store
.idea/

# Debug files
frame_debug.xml

# TypeScript compiled .map files
*.map  







